.Log_box{
  width: 27rem;
  height: 26rem;
  border: 2px solid #000;
  margin-left: 25rem;
  margin-top: 6rem;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 18px 20px 22px 24px grey;
}
.sign_head{
  height: 4.5rem;
  border-bottom: 2px solid #000;
  background-image: linear-gradient(to right,rgb(10, 10, 79),rgb(107, 20, 20));
  text-align: center;
}
.write{
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  color: #eee;
  text-decoration: underline;
  font-style: bold;
  text-transform: uppercase;
}
.det_box{
  /* border: 2px solid #000; */
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 40px;
}
.write_1{
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  color: #000;
  text-decoration: underline;
  font-style: bold;
  text-transform: uppercase;
  text-align: center;
}
.name{
  width: 12rem;
  height: 2rem;
}
.Email{
  width: 12rem;
  height: 2rem; 
}
.password{
  width: 12rem;
  height: 2rem;
}
.sub_but{
  width: 12rem;
  height: 2rem;
  margin-top: 0.8rem;
  background-color: purple;
  border-radius: 10px;
}
.but_wr{
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
  text-transform: uppercase;
  font-style: bold;
  color: #eee;
}
.write_2{
  font-size: 1rem;
  color: #000;
  text-decoration: underline;
  font-style: bold;
}
.item_cont{
  border: 2px solid #eee;
}
.head_cont{
  height: 6.5rem;
  background-image: linear-gradient(to right,rgb(124, 190, 211),#eee);
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: space-between;
}
.tempt{
  width: 16rem;
  height: 6rem;
  /* border: 2px solid #000; */
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}
.logo{
  width: 10rem;
  height: 8rem;
}
.menu{
  height: 3rem;
  width: 3rem;
  border-radius: 10px;
}
.profile{
  width: 9.3rem;
  height: 4rem;
  border: 2px solid #000;
  float: right;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-top: 1.1rem;
  margin-right: 1rem;
  border-radius: 40px;
  background-color: #000;
}
.cart_image{
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
}
.cart_img{
  border-radius: 30rem;
  width: 3.4rem;
  height: 3.4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}